$secondary-color: rgb(255, 168, 0);

.dark {
  background-color: #222222;
  color: #fff;
}

.light {
  background-color: #f5f9fb;
  color: #1a1a1a;
}

.full-height {
  min-height: 100vh;
}

.highlight {
  color: $secondary-color;
  text-shadow: 1px 1px #222222;
}

.main {
  margin-top: 72px;
  @media(min-width: 600px) {
    padding: 2rem;
  }
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;

  .header-title {
    margin-left: 2rem;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
  }

  button {
    border: none;
    background: none;
    cursor: pointer;
    margin-right: 2rem;
  }
}

.profile {
  @media (min-width: 900px) {
    padding: 1rem 4rem 4rem 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  padding: 3rem 0;

  .profile-image-comp {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .profile-image {
      padding: 1rem;
      width: 500px;

      @media (max-width: 550px) {
        width: 90%;
        margin: auto;
      }
    }
  }

  .profile-content {
    padding-left: 1rem;

    @media (min-width: 600px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .profile-desc {
      text-transform: uppercase;
      letter-spacing: 3px;
      padding: 0.5rem 0;

      @media(max-width: 500px) {
        letter-spacing: 1.5px;
      }
    }
  }
}

.pin {
  padding-left: 1rem;
  padding-top: 2rem;

  @media(max-width: 900px) {
    display: none;
  }
}

.sm-comp {
  @media(min-width: 900px) {
    position: fixed;
    top: 40vh;
    right: 1rem;
    border-radius: 30px;
    // border: 1.5px solid orange;
    box-shadow: 0 1px 7px 2px #777;
    z-index: 2;
  }

  @media(max-width: 900px) {
    position: fixed;
    bottom: 0;
    border-radius: 5px;
    z-index: 2;
    display: flex;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.skill-card {
  width: 300px;
  text-align: center;
  padding: 1rem;
  border: 1px dashed #777777;
  border-radius: 10px;
  margin: 1rem;

  @media(max-width: 320px) {
    width: 90%;
    margin: auo;
    margin: 1rem;
  }

  .skill-title {
    min-height: 50px;
    font-size: 1.2rem;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .skill-image {
    padding: 0.5rem;
    width: 250px;
    height: 150px;
  }
}

.skills {
  margin: 2rem 4rem;

  @media(max-width: 600px) {
    margin: 1rem;
  }
}

.skills-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem 0;
  text-transform: uppercase;

  @media(min-width: 900px) {
    margin: 2rem 0;
  }
}

.technology-icon {
  width: 100px;
  padding: 1.5rem;

  @media(max-width: 600px) {
    width: 60px;
    padding: .8rem;
  }
}

.tech-name {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $secondary-color;
  text-shadow: 0.3px 0.3px #222222;
}