@font-face {
  font-family: 'IstokWeb';
  src: local('IstokWeb'), url('fonts/IstokWeb-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'IstokWebBold';
  src: local('IstokWebBold'), url('fonts/IstokWeb-Bold.ttf') format('truetype');
  font-weight: bold;
}

html,
body {
  padding: 0;
  margin: 1rem 1rem 3rem 1rem;
  background-color: rgb(217, 217, 217);
  font-family: 'IstokWeb';
  font-size: 0.9rem;
}

@media only screen and (min-width: 600px) {
  body {
    margin: 1rem 3rem 3rem 3rem;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}


@media only screen and (min-width: 900px) {
  body {
    margin: 1rem 10rem 3rem 10rem;
  }
}

.card {
  border-radius: 1rem;
  padding: 1.5rem;
  margin: 1rem;
  background-color: white;
}

.hero {
  background-color: rgb(40, 140, 170);
  color: white;
  height: 120px;
  display: flex;
  align-items: center;
}

.title {
  font-size: 1.6rem;
  font-family: 'IstokWebBold';
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.designation {
  font-weight: 1.1rem;
  text-transform: uppercase;
  margin-bottom: 0.3rem;
}

.section-title {
  font-size: 1.4rem;
  font-family: 'IstokWebBold';
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  color: rgb(40, 140, 170);
}

.section-subtitle {
  font-size: 1.3rem;
  font-family: 'IstokWebBold';
  font-weight: bold;
  margin-bottom: 0.3rem;
  text-transform: capitalize;
  color: rgb(190, 140, 20)
}

.highlight {
  margin-bottom: 0.3rem;
  color: rgb(50, 50, 50);
}

.hl2 {
  margin-bottom: 0.3rem;
  color: rgb(85, 85, 85);
}

.hl3 {
  margin-bottom: 0.3rem;
  color: rgb(116, 116, 116);
}

.hl4 {
  font-size: 1rem;
  display: inline-block;
  text-transform: lowercase;
  font-weight: lighter;
}

.flex-center-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.flex-item {
  padding-right: 0.8rem;
  padding-bottom: 0.3rem;
}

img {
  width: 40px;
  margin-right: 0.5rem;
}

.w-50 {
  width: 80px;
  margin-right: 0.5rem;
}

.w-20 {
  width: 18px;
}

.w-10 {
  width: 10px;
}

.pb-5 {
  padding-bottom: 0.8rem;
}