body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.w-30 {
  width: 30px;
}

.px-5 {
  padding: 0 5px;
}

.py-3px {
  padding: 3px 0;
}

.py-1 {
  padding: 1rem 0;
}

.py-res-1 {
  @media(max-width: 900px) {
    padding: 1rem 0;
  }
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auto-fit {
  @media(min-width: 900px) {
    display: flex;
    justify-content: center;
  }
}

.py-5px {
  padding: 5px 0;
}

.divider {
  width: 80%;
  margin: auto;
  border-top: 1px solid #777777;
}

.p-1 {
  padding: 1rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

.mx-4 {
  @media(min-width: 900px) {
    margin: 0 4rem;
  }

  margin: 0 2rem;
}

.text-center {
  text-align: center;
}